# Sales Data Analysis

- look at the sales of a company from a buisness analyst point of view

In [33]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [34]:
# import the dataset as a pandas df

salesDatadf = pd.read_csv("sales_data_sample.csv")

# error = 'utf-8' codec can't decode byte 0x84 in position 5327: invalid start byte

In [35]:
# address the read error

import chardet # library to detect the encoding of the file

In [36]:
#Detect the encoding

file_path = 'sales_data_sample.csv'

def detect_encoding(file_path):
    with open(file_path, 'rb') as file:
        raw_data = file.read()
    result = chardet.detect(raw_data)
    return result['encoding']


print(detect_encoding(file_path))

# this gave a Johab encoding, this was not correct, after furthur exploration latin-1 encoding works

utf-8

In [37]:
# read the file with a johab encoding
# import the dataset as a pandas df

salesDatadf = pd.read_csv("sales_data_sample.csv", index_col= 'ORDERNUMBER', encoding = 'latin-1')

In [38]:
# Perform EDA,
'''
1. Shape and Size of DF
2. Data Types
3. Head and Tail
4. Summary Statistics
5. Info
'''

print(f'DataFarme Shape: {salesDatadf.shape}')
print(f'Dataframe Size: {salesDatadf.size}')
print(f'Dataframe Data Types: {salesDatadf.dtypes}')
print(f'Dataframe Head: {salesDatadf.head()}')
print(f'Dataframe Tail: {salesDatadf.tail()}')
print(f'Dataframe Description: {salesDatadf.describe()}')
print(f'Dataframe Information: {salesDatadf.info()}')

DataFarme Shape: (2823, 25)
Dataframe Size: 70575
Dataframe Data Types: Unnamed: 0            int64
QUANTITYORDERED       int64
PRICEEACH           float64
ORDERLINENUMBER       int64
SALES               float64
ORDERDATE            object
STATUS               object
QTR_ID                int64
MONTH_ID              int64
YEAR_ID               int64
PRODUCTLINE          object
MSRP                  int64
PRODUCTCODE          object
CUSTOMERNAME         object
PHONE                object
ADDRESSLINE1         object
ADDRESSLINE2         object
CITY                 object
STATE                object
POSTALCODE           object
COUNTRY              object
TERRITORY            object
CONTACTLASTNAME      object
CONTACTFIRSTNAME     object
DEALSIZE             object
dtype: object
Dataframe Head:              Unnamed: 0  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
ORDERNUMBER
10107                 0               30      95.70                2  2871.00
10121                 1               34      81.35                5  2765.90
10134                 2               41      94.74                2  3884.34
10145                 3               45      83.26                6  3746.70
10159                 4               49     100.00               14  5205.27

              ORDERDATE   STATUS  QTR_ID  MONTH_ID  YEAR_ID  ...  \
ORDERNUMBER                                                  ...
10107        2003-02-24  Shipped       1         2     2003  ...
10121        2003-05-07  Shipped       2         5     2003  ...
10134        2003-07-01  Shipped       3         7     2003  ...
10145        2003-08-25  Shipped       3         8     2003  ...
10159        2003-10-10  Shipped       4        10     2003  ...

                              ADDRESSLINE1  ADDRESSLINE2           CITY STATE  \
ORDERNUMBER
10107              897 Long Airport Avenue           NaN            NYC    NY
10121                   59 rue de l'Abbaye           NaN          Reims   NaN
10134        27 rue du Colonel Pierre Avia           NaN          Paris   NaN
10145                   78934 Hillside Dr.           NaN       Pasadena    CA
10159                      7734 Strong St.           NaN  San Francisco    CA

            POSTALCODE COUNTRY TERRITORY CONTACTLASTNAME CONTACTFIRSTNAME  \
ORDERNUMBER
10107            10022     USA       NaN              Yu             Kwai
10121            51100  France      EMEA         Henriot             Paul
10134            75508  France      EMEA        Da Cunha           Daniel
10145            90003     USA       NaN           Young            Julie
10159              NaN     USA       NaN           Brown            Julie

            DEALSIZE
ORDERNUMBER
10107          Small
10121          Small
10134         Medium
10145         Medium
10159         Medium

[5 rows x 25 columns]
Dataframe Tail:              Unnamed: 0  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
ORDERNUMBER
10350              2818               20     100.00               15  2244.40
10373              2819               29     100.00                1  3978.51
10386              2820               43     100.00                4  5417.57
10397              2821               34      62.24                1  2116.16
10414              2822               47      65.52                9  3079.44

              ORDERDATE    STATUS  QTR_ID  MONTH_ID  YEAR_ID  ...  \
ORDERNUMBER                                                   ...
10350        2004-12-02   Shipped       4        12     2004  ...
10373        2005-01-31   Shipped       1         1     2005  ...
10386        2005-03-01  Resolved       1         3     2005  ...
10397        2005-03-28   Shipped       1         3     2005  ...
10414        2005-05-06   On Hold       2         5     2005  ...

                      ADDRESSLINE1  ADDRESSLINE2      CITY STATE POSTALCODE  \
ORDERNUMBER
10350           C/ Moralzarzal, 86           NaN    Madrid   NaN      28034
10373                  Torikatu 38           NaN      Oulu   NaN      90110
10386           C/ Moralzarzal, 86           NaN    Madrid   NaN      28034
10397        1 rue Alsace-Lorraine           NaN  Toulouse   NaN      31000
10414           8616 Spinnaker Dr.           NaN    Boston    MA      51003

             COUNTRY TERRITORY CONTACTLASTNAME CONTACTFIRSTNAME DEALSIZE
ORDERNUMBER
10350          Spain      EMEA          Freyre            Diego    Small
10373        Finland      EMEA       Koskitalo           Pirkko   Medium
10386          Spain      EMEA          Freyre            Diego   Medium
10397         France      EMEA          Roulet          Annette    Small
10414            USA       NaN         Yoshido             Juri   Medium

[5 rows x 25 columns]
Dataframe Description:        Unnamed: 0  QUANTITYORDERED    PRICEEACH  ORDERLINENUMBER  \
count  2823.00000      2823.000000  2823.000000      2823.000000
mean   1411.00000        35.092809    83.658544         6.466171
std     815.07423         9.741443    20.174277         4.225841
min       0.00000         6.000000    26.880000         1.000000
25%     705.50000        27.000000    68.860000         3.000000
50%    1411.00000        35.000000    95.700000         6.000000
75%    2116.50000        43.000000   100.000000         9.000000
max    2822.00000        97.000000   100.000000        18.000000

              SALES       QTR_ID     MONTH_ID     YEAR_ID         MSRP
count   2823.000000  2823.000000  2823.000000  2823.00000  2823.000000
mean    3553.889072     2.717676     7.092455  2003.81509   100.715551
std     1841.865106     1.203878     3.656633     0.69967    40.187912
min      482.130000     1.000000     1.000000  2003.00000    33.000000
25%     2203.430000     2.000000     4.000000  2003.00000    68.000000
50%     3184.800000     3.000000     8.000000  2004.00000    99.000000
75%     4508.000000     4.000000    11.000000  2004.00000   124.000000
max    14082.800000     4.000000    12.000000  2005.00000   214.000000
<class 'pandas.core.frame.DataFrame'>
Index: 2823 entries, 10107 to 10414
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        2823 non-null   int64
 1   QUANTITYORDERED   2823 non-null   int64
 2   PRICEEACH         2823 non-null   float64
 3   ORDERLINENUMBER   2823 non-null   int64
 4   SALES             2823 non-null   float64
 5   ORDERDATE         2823 non-null   object
 6   STATUS            2823 non-null   object
 7   QTR_ID            2823 non-null   int64
 8   MONTH_ID          2823 non-null   int64
 9   YEAR_ID           2823 non-null   int64
 10  PRODUCTLINE       2823 non-null   object
 11  MSRP              2823 non-null   int64
 12  PRODUCTCODE       2823 non-null   object
 13  CUSTOMERNAME      2823 non-null   object
 14  PHONE             2823 non-null   object
 15  ADDRESSLINE1      2823 non-null   object
 16  ADDRESSLINE2      302 non-null    object
 17  CITY              2823 non-null   object
 18  STATE             1337 non-null   object
 19  POSTALCODE        2747 non-null   object
 20  COUNTRY           2823 non-null   object
 21  TERRITORY         1749 non-null   object
 22  CONTACTLASTNAME   2823 non-null   object
 23  CONTACTFIRSTNAME  2823 non-null   object
 24  DEALSIZE          2823 non-null   object
dtypes: float64(2), int64(7), object(16)
memory usage: 573.4+ KB
Dataframe Information: None

In [39]:
# Intial EDA
'''
Change date to date time datatype
Can drop time as time isnt recorded, just 00:00

'''
salesDatadf['ORDERDATE'] = pd.to_datetime(salesDatadf['ORDERDATE'])

salesDatadf.info()


# happy that the dataframe has be edited to according the firts stage of EDA

<class 'pandas.core.frame.DataFrame'>
Index: 2823 entries, 10107 to 10414
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        2823 non-null   int64
 1   QUANTITYORDERED   2823 non-null   int64
 2   PRICEEACH         2823 non-null   float64
 3   ORDERLINENUMBER   2823 non-null   int64
 4   SALES             2823 non-null   float64
 5   ORDERDATE         2823 non-null   datetime64[ns]
 6   STATUS            2823 non-null   object
 7   QTR_ID            2823 non-null   int64
 8   MONTH_ID          2823 non-null   int64
 9   YEAR_ID           2823 non-null   int64
 10  PRODUCTLINE       2823 non-null   object
 11  MSRP              2823 non-null   int64
 12  PRODUCTCODE       2823 non-null   object
 13  CUSTOMERNAME      2823 non-null   object
 14  PHONE             2823 non-null   object
 15  ADDRESSLINE1      2823 non-null   object
 16  ADDRESSLINE2      302 non-null    object
 17  CITY              2823 non-null   object
 18  STATE             1337 non-null   object
 19  POSTALCODE        2747 non-null   object
 20  COUNTRY           2823 non-null   object
 21  TERRITORY         1749 non-null   object
 22  CONTACTLASTNAME   2823 non-null   object
 23  CONTACTFIRSTNAME  2823 non-null   object
 24  DEALSIZE          2823 non-null   object
dtypes: datetime64[ns](1), float64(2), int64(7), object(15)
memory usage: 573.4+ KB

In [40]:
# Second step of EDA
# Handle missing data

# Indetofy missing data
print(salesDatadf.isnull().sum())

# null values are only in adress columns
# # assumption is that the address doesnt have those values

Unnamed: 0             0
QUANTITYORDERED        0
PRICEEACH              0
ORDERLINENUMBER        0
SALES                  0
ORDERDATE              0
STATUS                 0
QTR_ID                 0
MONTH_ID               0
YEAR_ID                0
PRODUCTLINE            0
MSRP                   0
PRODUCTCODE            0
CUSTOMERNAME           0
PHONE                  0
ADDRESSLINE1           0
ADDRESSLINE2        2521
CITY                   0
STATE               1486
POSTALCODE            76
COUNTRY                0
TERRITORY           1074
CONTACTLASTNAME        0
CONTACTFIRSTNAME       0
DEALSIZE               0
dtype: int64

In [41]:
# Data Cleaning
# drop dupicates
salesDatadf.drop_duplicates(inplace= True)


print(len(salesDatadf))

# No duplicates

2823

In [45]:
# Explore the column, priceeach

'''
Price each suggests the value of each product
As they may sell various product in a single transaction, the price of each may not be number of prodcuts sold/ total sale price
therefore 100 is the default value - going to leave this
will add a feature engineered column
'''

'\nPrice each suggests the value of each product\nAs they may sell various product in a single transaction, the price of each may not be number of prodcuts sold/ total sale price\ntherefore 100 is the default value - going to leave this\nwill add a feature engineered column\n'

In [46]:
# Data cleaned
# save as a cleaned dataset, replace the intial one

salesDatadf.to_csv('sales_data_sample.csv')